**
!Dockerfile
!.dockerignore
!package.json
!package-lock.json
!angular.json
!tsconfig*.json
!src/
!src/**
!public/
!public/**
!deploy/
!deploy/front.py
!deploy/nginx.conf.template
**/.env
**/.env.*
**/*credentials*.json
**/*service-account*.json
**/*service_account*.json
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/.config/gcloud
**/secrets
**/secrets.*
**/.npmrc
**/.netrc
**/.ssh
**/.aws
**/.azure
.git
node_modules
dist
.angular
coverage
deploy/tests
**/__pycache__
